#container{
	width: 800px;
	height: 800px;
	background: #eee;
	position: relative;
}

.node{
	background: #aaa;
	width: 200px;
	height: 200px;
	position: absolute;
	opacity: 0.5;
}

.prevNodeSocket{
	width: 10px;
	height: 10px;
	position: absolute;
	margin-left: -5px;
	top: 0;
	left: 50%;
	background: red;
}

.nextNodeSocket{
	width: 10px;
	height: 10px;
	position: absolute;
	margin-left: -5px;
	bottom: 0;
	left: 50%;
	background: red;
}